* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.products {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.products {
  background-image: url('./images/img-10.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(241, 237, 237);
  font-size: 100px;
  image-orientation: inherit;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height: 80%;
}

.hcon {
  text-align: center;
}

.container {
  text-align: inherit;
}

.head {
  background-color: rgb(104, 176, 243);
}

.cc {
    height: 200px;
    width: 600px;
    background: rgb(248, 239, 239);
    margin-top: 0px;
    margin-left: 340px;
}

.video {
  display: flex;
  justify-content: center;
}

/* Styling the body */
body {
  margin: 0;
  padding: 0;
}
 
/* Styling section, giving background
  image and dimensions */
section {
  width: 100%;
  height: 100vh;
  background: 
url('./images/ev.jpeg');
image-rendering: -webkit-optimize-contrast;
  background-size: cover;
}
 
/* Styling the left floatig section */
section .leftBox {
  width: 50%;
  height: 100%;
  float: left;
  padding: 50px;
  box-sizing: border-box;
}
 
/* Styling the background of 
  left floatig section */
section .leftBox .content {
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  padding: 40px;
  transition: .5s;
}
 
/* Styling the hover effect  
  of left floatig section */
section .leftBox .content:hover {
  background: #e91e63;
}
 
/* Styling the header of left 
  floating section */
section .leftBox .content h1 {
  margin: 0;
  padding: 0;
  font-size: 50px;
  text-transform: uppercase;
}
 
/* Styling the paragraph of 
  left floating section */
section .leftBox .content p {
  margin: 10px 0 0;
  padding: 0;
}
 
/* Styling the three events section */
section .events {
  position: relative;
  width: 50%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  float: right;
  box-sizing: border-box;
}
 
/* Styling the links of 
the events section */
section .events ul {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
  padding: 40px;
  box-sizing: border-box;
}
 
/* Styling the lists of the event section */
section .events ul li {
  list-style: none;
  background: #fff;
  box-sizing: border-box;
  height: 200px;
  margin: 12px 0;
}
 
/* Styling the time class of events section */
section .events ul li .time {
  position: relative;
  padding: 20px;
  background: #262626;
  box-sizing: border-box;
  width: 30%;
  height: 100%;
  float: left;
  text-align: center;
  transition: .5s;
}
 
/* Styling the hover effect
  of events section */
section .events ul li:hover .time {
  background: #e91e63;
}
 
/* Styling the header of time 
  class of events section */
section .events ul li .time h2 {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 60px;
  line-height: 30px;
}
 
/* Styling the texts of time 
class of events section */
section .events ul li .time h2 span {
  font-size: 30px;
}
 
/* Styling the details 
class of events section */
section .events ul li .details {
  padding: 20px;
  background: #fff;
  box-sizing: border-box;
  width: 70%;
  height: 100%;
  float: left;
}
 
/* Styling the header of the 
details class of events section */
section .events ul li .details h3 {
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 22px;
}
 
/* Styling the lists of details 
class of events section */
section .events ul li .details p {
  position: relative;
  margin: 10px 0 0;
  padding: 0;
  font-size: 16px;
}
 
/* Styling the links of details
class of events section */
section .events ul li .details a {
  display: inline-block;
  text-decoration: none;
  padding: 10px 15px;
  border: 1.5px solid #262626;
  margin-top: 8px;
  font-size: 18px;
  transition: .5s;
}
 
/* Styling the details class's hover effect */
section .events ul li .details a:hover {
  background: #e91e63;
  color: #fff;
  border-color: #e91e63;
}

.colc {
  color: #e91e63;
}

*
{
padding:0;
margin:0;
}
block
{
overflow-x:hidden;
font-family:'PT Sans', sans-serif;
}
.section-container
{
--bs-gutter-x: 1.5rem;
--bs-gutter-y: 0;
display: flex;
flex-wrap: wrap;
}
.section-container .columns
{
flex:0 0 auto;
width:50%;
}
.section-container .columns.image
{
  background-image: src='/images/img-15.jpg';
background-position:center;
background-repeat:no-repeat;
background-size:cover;
}
.section-container .columns.content .content-container
{
padding:40px 50px;
}
.section-container .columns.content .content-container h5
{
font-weight:700;
font-size:25px;
margin-bottom:20px;
}
.section-container .columns.content .content-container p
{
font-weight:400;
font-size:16px;
margin-bottom:20px;
margin-bottom:15px;
text-align:justify;
}
@media screen and (max-width:767px)
{
.section-container
{
flex-flow:row wrap;
}
.section-container .columns.image{
display:block;
order:1;
width:100%;
height:250px;
}
.section-container .columns.content
{
display:block;
order:2;
width:100%;
}
.section-container .columns.content .content-container
{
padding:20px 35px;
}
.section-container .columns.content .content-container h5
{
margin-bottom:5px;
}
}